* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 8, 8);
}

.container {
    max-width: 1600px;
    margin: auto;
}

header {
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
}

.title {
    font-size: 28px;
}

section {
    padding: 20px;
    background-image: url("./desafioworksho1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 500px;
}

.formcontainer {
    max-width: 230px;
    background-color: rgba(255, 255, 255, 0.73);
    padding: 20px;
    float: right; /* Coloque left se quiser o formulário à esquerda */
}

h2 {
    font-size: 20px;
}

.mb {
    margin-bottom: 15px;
}

input,
select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #35aeb6;
}

footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture {
    width: 160px;
}

.description {
    display: inline-block;
    color: white;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
    vertical-align: top;
}

.description h3,
.description p {
    margin-bottom: 20px;
}

.description h3 {
    font-size: 28px;
}
